*, *::before, *::after { box-sizing: border-box; }
body {
  font-family: 'Manrope', sans-serif;
  font-size: 100%;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  /* color: #111318;
  background: #efede8; */
  color: #034F96;
  background-color: #f3efe1;
}

main,
footer p {
  margin: 0 auto;
  max-width: 42rem;
  padding: 1rem;
}

header,
footer {
  padding: 2rem 1rem;
  background-color: #034F96;
  color: #FFF4C7;
}

main {
  padding: 2rem 1rem;
}

:is(h2, h3, h4, h5, h6) {
  color: #013b72;
  line-height: 1.2;
}
main img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  display: flex;
  align-content: center;
  align-items: center;
  width: fit-content;
}
header img {
  display: none;
}

@media screen and (min-width: 60rem) {
  header {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  h1 {
    justify-content: center;
    margin: 0;
  }
  header img {
    display: inline-block;
  }
  header img:first-of-type {
    margin-right: 0.5rem;
  }
  header img:last-of-type {
    margin-left: 0.5rem;
    transform: rotateY(180deg);
  }
}

h2 {
  font-size: 2.2rem;
}

h2:first-child {
  margin-top: 0;
}

h2 {
  margin-top: 4rem;
}

h2 + h3 {
  margin-top: 0;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

h4 {
  font-size: 1.4rem;
}

ul {
  list-style-type: square;
}

li + li {
  margin-top: 0.5rem;
}
p, ul, ol {
  color: #034F96;
  font-size: 1.35rem;
}

/* ::marker {
  color: #0369C9;
} */

p.intro {
  font-size: 1.5rem;
  font-weight: 600;
}

.cta {
  display: flex;
  margin: 0 auto;
  padding-top: 1rem;
  width: 100%;
}
.cta img {
  margin: 0 auto;
}

footer p,
footer p a {
  color: #FFF4C7;
}